
.parent-menu {
    width: 250px;
    min-height: 100vh;
    background-color: #3D7A78;

    padding: 25px 15px;
}

.parent-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.parent-menu li {
    margin-bottom: 10px;
}

.parent-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.parent-menu a:hover {
    background-color: #289b7b;
}

.parent-menu i {
    font-size: 18px;
}

.parent-menu .logout {
    margin-top: 40px;
}