<nav class="parent-menu">


    <ul>
        <li>
            <a href="{% url 'mes_enfants' %}">
                <i class="bi bi-people-fill"></i>
                Mes enfants
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-calendar3"></i>
                Calendrier
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-suit-spade-fill"></i>
                Activités
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bell-fill"></i>
                Notifications
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-currency-dollar"></i>
                Centre de paiement
            </a>
        </li>
    </ul>

    <div class="logout">
        <a href="#">
            <i class="bi bi-box-arrow-right"></i>
            Déconnexion
        </a>
    </div>
</nav>