<nav class="educateur-menu">

    <ul>
        <li>
            <a href="#">
                <i class="bi bi-house-fill"></i>
                Accueil
            </a>
        </li>

        <li>
            <a href="{% url 'mon_groupe' %}">
                <i class="bi bi-people-fill"></i>
                Mon groupe
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-calendar3"></i>
                Calendrier
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-suit-spade-fill"></i>
                Activités
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bell-fill"></i>
                Notifications
            </a>
        </li>
    </ul>

    <div class="logout">
        <a href="#">
            <i class="bi bi-box-arrow-right"></i>
            Déconnexion
        </a>
    </div>
</nav>